.container-fluid-css {
    width: 100%;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.nav-link-side-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.nav-link-side-bar:hover {
    text-decoration: none;
}

.nav-link-active {
    color: #007bff !important;
}