# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\reactjs\QHN_PROJECT\draw-diagram\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
